/* Cambiar color de fondo del sidebar */
/*
.main-sidebar {
    background-color: #0a3c55 !important;
}

.control-sidebar-dark {
    background-color: #0a3c55 !important;
}

.bg-gradient-dark {
    background: #0a3c55 linear-gradient(180deg, mix(#0a3c55, #52585d, 15%), #0a3c55) repeat-x !important;
    color: color-yiq(#fff);
}
*/


/* Cambiar color de fondo del header */
/*
.main-header {
    background-color: #654321 !important;
}
*/

/* Cambiar color de texto de los botones */
/*
.btn-primary {
    background-color: #ff5722 !important;
}
*/
